<div class = "navbar">
    <div class="top">
        <mat-icon>notifications_none</mat-icon>
    </div>
    <div class = "user">
        <img src="https://openclipart.org/image/800px/326561"alt="">
        <h4 class="name">Admin</h4>
        <p class="mail">admin@gmail.com</p>
    </div>
    <div class="menu">
        <div class="menu-head">
            <span>Dashboard</span>
        </div>
        <div class="menu-item">
            <button mat-button class="menu-button" [routerLink]="['/dashboard']">
                <mat-icon>dashboard</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="menu-button"[routerLink]="['/posts']">
                <mat-icon>message</mat-icon>
                <span>Post</span>
            </button>
            <button mat-button class="menu-button"[routerLink]="['/comment']">
                <mat-icon>comment</mat-icon>
                <span>Comnt</span>
            </button>
            <button mat-button class="menu-button"[routerLink]="['/pages']">
                <mat-icon>pages</mat-icon>
                <span>Pages</span>
            </button>
            <button mat-button class="menu-button"[routerLink]="['/setting']">
                <mat-icon>settings</mat-icon>
                <span>Setting</span>
            </button>
        </div>
    </div>
</div>
